<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head>

<body class="recipe">
    <div class="recipe">
  <h2 ><b>-:وصفات صحية لزيادة الوزن </b></h2> 
<ol> 
    <div class="one">
  <li>ارز بالدجاج والبازيلاء</li>
<p>أرز بسمتي : كوب<br>
    صدر الدجاج : 2 صدر (مقطع مكعبات صغيرة)<br>
    الزبدة : ملعقتان كبيرتان<br>
    كبش القرنفل : 3 عود<br>
    القرفة : عود<br>
    الفلفل الحار : قرن (مفروم ناعم)<br>
    الزنجبيل : ملعقة صغيرة (مفروم)<br>
    البازلاء : نصف كوب (مجمدة)<br>
    ملح : ملعقة صغيرة<br>
    سكر : ربع ملعقة صغيرة<br>
    الماء : كوبان<br>
    اغسل الأرز وصفيه و اتركه جانبا
    سخن الزبدة في قدر غير لاصق على النار وضع القرنقل والفلفل والقرفة والزنجبيل وحرك حتى تظهر الرائحة وتتحمص البهارات <br>
     .أضيف الدجاج المفروم وقلبي حتى يصبح ذهبي اللون <br>
     .أضيف البازيلا والملح والسكر وقلب قليلاً <br>
     .أضيف الأرز المغسول وقلب حتى تتمازج النكهات <br>
    . أضيف الماء واترك الخليط حتى يغلي الماء ثم خفف الحرارة وغطي القدر واتركه على النار لمدة 20 دقيقة أو حتى ينضج الأرز
</p>
</div>



<div class="one">
      <li>ارز بالدجاج والخضار</li>
    <p>سمن : ملعقة كبيرة
        الزيت النباتي : ملعقة كبيرة<br>
        أرز بسمتي : 2 كوب (مغسول ومنقوع ومصفى)<br>
        البازيلاء : كوب (مجمدة)<br>
        الجزر : كوب (مقطع مكعبات صغيرة)<br>
        طماطم : كوب (مقشرة ومفرومة مكعبات صغيرة)<br>
        صدر الدجاج : 4 صدور (مفروم مكعبات صغيرة)<br>
        البصل : 1 حبة (مفروم)<br>
        الثوم : فص (مفروم)<br>
        الفلفل الأحمر : 1 حبة (مفروم مكعبات صغيرة)<br>
        ملح : ملعقة صغيرة<br>
        فلفل أسود : ربع ملعقة صغيرة<br>
        بهارات مشكلة : ربع ملعقة صغيرة<br>
        ماء ساخن : 3 أكواب ونصف<br>
       .سخن  السمن والزيت في قدر سميك غير لاصق على نار متوسطة <br>
      .أضيف  البصل والثوم وحمري لمدة 3 دقائق <br>
      .أضيف  الدجاج وقلب  لمدة 5 دقائق حتى يصبح ذهبي اللون <br>
      .أضيف الجزر والفلفل الأحمر والطماطم والملح والفلفل الأسود وقلب لمدة 5 دقائق حتى يبدأ المزيج بالغليان <br>
      .أضيف الأرز والبهارات والماء الساخن والبازيلا واترك المزيج يغلي <br>
      .خفف النار وغطي القدر واتركه لمدة 25 دقيقة حتى ينضج الأرز والدجاج والخضار <br>
      .اسكب الأرز والدجاج مع الخضار في طبق التقديم وقدمه ساخناً
    </p>
</div>

<div class="one">
    <li>وصفة الحلبة</li>
    <p>الوصفة الأولى: هى تناول 4 ملاعق من الحلبة على مدار اليوم مع تمريرها إلى المعدة بمساعدة المياه والعصائر حتى لا تشعر بمرارتها <br>
    
        الوصفة الثانية: تعتمد على الحلبة أيضا ولكن بعد غليها لمدة دقيقة واحدة وتصفيتها وشربها 3 مرات على مدار اليوم <br>
        
        الوصفة الثالثة: تعتمد على طحن بذور الحلبة وإضافة زيت الزيتون إليها وتناول ملعقة كبيرة من الخليط 4 مرات يوميا <br>
        
        الوصفة الرابعة: يتم فيها مزج العسل الأسود مع مشروب الحلبة الساخن وتناول 3 أكواب على مدار اليوم <br>
        الوصفة الخامسة خارجية: وهى عبارة عن دهان من زيت الحلبة وزيت الخروع على الأماكن المرغوب فى تسمينها
    </p>
</div>
 

<div class="one">
    <li>وصفة الخميرة </li>
    <p>وصفة الخميرة مع الماء والسكر: تُستخدم هذه الوصفة لزيادة الوزن بشكل عام، من خلال إضافة ملعقةٍ كبيرة من الخميرة إلى كوبٍ من الماء الدافئ وملعقةٍ كبيرةٍ من السكر،
                             وترك المزيج مدة 15 دقيقةً، حتى تتكاثر البكتيريا، ومن ثمّ تناول المزيج بمعدّل ثلاث مرات يومياً،
          كما يُمكن استبدال الماء بكوبٍ من الحليب الكامل الدسم، لزيادة عدد السعرات الحراريّة، وبالتالي زيادة الوزن<br> 
    وصفة الخميرة مع حلاوة الطحينيّة، عن طريق صنع خليطٍ من ملعقةٍ كبيرة من الخميرة الفوريّة مع لوح من حلاوة الطحينيّة، وإضافة المكسرات للخليط، ومن ثم مزج المكوّنات في الخلاط الكهربائيّ، وإضافة المكوّنات إلى كوبٍ من الحليب بمعدل ثلاث مرات يومياً،
     بعد الوجبات الرئيسيّة أو الخفيفة</p>
     
</div>
   

<div class="one">
    <li>وصفة البطاطا المهروسة </li>
    <p>تعد البطاطا واحدة من الخضار النشوية التي تدرج تحت مجموعة الكربوهيدرات، وينصح بها اخصائي التغذية للأسباب الاتية:<br>
        <p>
            محتواها العالي من السعرات الحرارية. <br>
             مصدرًا للعديد من الفيتامينات كفيتامين ج وفيتامين أ، والمعادن كالبوتاسيوم، ومضادات الأكسدة الضرورية لتعزيز المناعة.<br>
            تناول البطاطا يمد جسمك بالألياف الغذائية التي تعزز صحة جهازك الهضمي.<br> 
        </p>
        <p> :تحضير البطاطا المهروسة لزيادة الوزن<br>
         ينصح دائمًا بتناول البطاطا المهروسة مشوية أو مسلوقة، ومن ثم إغناؤها بالعديد من الإضافات التي تزيد من السعرات الحرارية وتجعلها غنية ومغذية، مثل: الزبدة، والحليب، والكريمة، وبعض أنواع البهارات.
        ويفضل الابتعاد عن البطاطا المقلية بالزيوت المهدرجة حتى وإن كانت تسبب زيادة في الوزن، إلا أنها غير صحية.
        السعرات الحرارية في البطاطا المهروسة
        يحتوي كوب من البطاطا المهروسة المسلوقة أو المشوية بدون إضافات على 200 سعرة حرارية، ويمكن زيادة السعرات الحرارية اعتمادًا على الإضافات المستخدمة من زبدة، أو حليب، أو كريمة</p>
</div>
   
<div class="one">
    <li> وصفة ساندويش الافوكادو </li>
    <p>يعد الأفوكادو مصدر غني للدهون غير المشبعة والمفيدة للجسم، بالإضافة إلى البروتين والعديد من الفيتامينات والمعادن التي تساهم في زيادة الوزن بشكل صحي.<br>

       :تحضير الأفوكادو لزيادة الوزن<br>
         يمكن استخدم الأفوكادو في العديد من الوصفات، مثل: مدهون في شطيرة غنية باللحوم أو الخضار، أو القيام بإضافته إلى السلطات والأطباق المختلفة.
        
        السعرات الحرارية في الأفوكادو<br>
        يحتوي كل 100 غرام من الأفوكادو على ما يقارب 190 سعرة حرارية، وتختلف السعرات الحرارية في ساندويش الأفوكادو عادةً تبعًا للمحتويات الأخرى في الساندويش التي تزيد من السعرات الحرارية.</p>
</div>

 <div class="one">
    <li>وصفة شوربة الشوفان </li>
    <p>:تحضير شوربة الشوفان لزيادة الوزن<br>

        يتم تحضيرها من خلال استخدام الشوفان ومجموعة من المكونات الأخرى، مثل: الحليب، والكريمة، والزبدة، والبقدونس، والمشروم.<br>
        تعد جميع هذه المكونات غنية بالسعرات الحرارية، ويمكن استغلالها في إعداد شوربة الشوفان لمنح المزيد من السعرات الحرارية الصحية، والألياف، والبروتينات، والمعادن إلى الشوربة.  <br>
       :السعرات في شوربة الشوفان<br>
        تعد شوربة الدجاج بالشوفان من الشوربات الدسمة والتي تمنح كميات كبيرة من السعرات الحرارية، فقد يحتوي كوب منها على 200 سعرة حرارية تقريبًا 
</p>
</div>

<div class="one">
    <li>وصفة شوربة الفطر </li>
    <p>:المقادير لتحضير شوربة الفطر<br>
.شوربة الفطر هي أحد أنواع الشوربات اللذيذة والمفضلة لدى العديدين، تعرف في هذا المقال على كيفية تحضيرها<br>
        
        :طريقة تحضير شوربة الفطر بطريقة بسيطة وسهلة<br>
        .غرام من الزبدة G 90<br>
        .2 حبة من البصل متوسط الحجم والمقطع إلى قطع <br>
        .1 حبة من الثوم المهروس<br>
        .500 غرام من الفطر المقطع قطع صغيرة (حسب الرغبة)<br>
        .2 ملعقة كبيرة من الدقيق<br>
        .كوب من مرقة الدجاج أو مكعب واحد من مكعبات ماجي<br>
        .1 ورقة واحدة من ورق الغار<br>
        .4 ملاعق كبيرة من الكريمة<br>
        .حفنة صغيرة من البقدونس المقطع (اختياري)<br>
        
        :الخطوات لتحضير شوربة الفطر<br>
        .ضع الزبدة داخل قدر الشوربة على نار متوسطة إلى أن تذوب<br>
        .أضف البصل والثوم لمدة 8-10 دقائق مع الحرص على ذبلان الثوم والبصل دون تحول اللون إلى اللون البني<br>
        .أضف الفطر بعد ذلك مع رفع درجة الحرارة لمدة 3 دقائق أو إلى أن يذبل الفطر<br>
        .ضع الدقيق داخل قدر الشوربة مع التحريك لتمتزج جميع المكونات مع الدقيق<br>
        .ضع مرقة الدجاج وورق الغار داخل قدر الشوربة واترك المزيج إلى أن تبدأ الشوربة بالغليان، وبعدها اتركها لمدة 10 دقائق.<br>
        .أزل ورق الغار بعد ذلك، ثمّ اطحنها<br>
        .اخلط الشوربة بالطريقة التي تفضلها إما باستخدام الخلاط الكهربائي أو الخلاط اليدوي<br>
       . سخن الشوربة من جديد وأضف إليها الكريمة مع التحريك<br>
       . أضف البقدونس لتصبح الشوربة جاهزة للتقديم
    </p></div>

</ol>
    </div>
    </body>
</html>
<!--li{
    font-size: 30px;
    color: rgb(8, 8, 8);
}-->