<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head>
<body>
    <h2>Tips For Achieving Healthy Weight Gain :-</h2>
    <ol>
        
        <li>Eat a Balanced Diet</li>
        
        <p class="liPa">Adhering to a healthy lifestyle and following a balanced diet for the body,<br>
           including all kinds of foods that provide your body with vitamins,<br>
           minerals and various nutrients, because if you cannot diversify the<br> 
           foods you eat, you will reduce the nutrients that enter your body and<br> 
           may adversely affect you, which may harm your health and your body.</p>

        <li>The Body Needs Protein</li>
        <p class="liPa">Getting proteins in large quantities more than carbohydrates and fats,<br>
           and this enables you to continue drinking whole milk because it contains <br>
           large calories and because milk is a suitable and healthy source of calcium,<br>
           protein,vitamins and other minerals, which makes the body receive the increase<br> 
           that you want to work on increasing.</p>
        <li>Doing Exercise</li>
        <p class="liPa">Practicing exercises, especially exercises that need weights,<br>
           and focus on the exercises of the bar, push-up, parallel and<br>
           squatting, because it is very effective in increasing the muscle<br> 
           mass of the body and feeling hungry after exercising, as it stimulates<br> 
           the body to increase significantly.</p>
        <li>Commit To Eating Daily At Specific Times</li>
        <p class="liPa">Follow a specific meal regimen per day, and it must not be less than 6 meals,<br>
           including 3 small meals that contain vegetables, protein, vitamins, carbohydrates<br> 
           and minerals. Eating fried foods because they contain more calories than others,<br> 
           but it is preferable to work within healthy oils using means to open the appetite.</p>
       
      </ol>
</body>
</html>