<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitamins</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head>
<body>
    <h1>Vitamins:-</h1><hr>  
<h2>The role of vitamins in weight gain:</h2>
<p>There is no doubt that there are many people who resort to vitamins in<br> 
    order to strengthen and improve their diet,and vitamins may be used to<br> 
    gain weight in some cases, as vitamins have a major role in reducing the<br>
    metabolic rate in the body, and also help to open the appetite,and vitamins<br> 
    are considered One of the safe ways that can be resorted to in order to gain<br> 
    weight in a healthy and effective way,and in this article we will talk about<br> 
    the most important vitamins that will increase weight gain.</p>
    <h2>Vitamins for Weight Gain:</h2>
    <ul>
        <li>B1 Thiamine </li>
        <p>It is one of the water-soluble vitamins,<br>
          and thiamine has a major and major role in <br>
          weight gain,because it helps open the appetite <br>
          in humans,and one of the most important foods <br>
          that contain thiamine is meat and grains of various kinds.   </p>
        <li>Vitamin (A)</li>
        <p>This vitamin contributes to getting rid of the problems of thinness,<br>
           due to its great role in reducing the activity of the thyroid gland <br>
           and its work, and also stimulates the growth of cells and tissues,and<br> 
           the most important sources of this vitamin are: liver, green pepper,<br>
           spinach, fish liver oil, mallow, tomatoes, and grape leaves.</p>
        <li>Vitamin (b2)</li>
        <p>This vitamin has a major role in the formation of hemoglobin in the blood,<br>
           and also helps to stimulate the metabolism of carbohydrates, fats and proteins<br> 
           inside cells, and increases the appetite of humans for food.<br>
      </ul>
</body>
</html>